*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0d1117;
color:#fff;
display:flex;
justify-content:center;
padding:20px;
min-height:100vh;
}

.container{
width:100%;
max-width:700px;
background:#161b22;
padding:20px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,255,136,.2);
}

h1{
text-align:center;
font-size:35px;
color:#00ff88;
text-shadow:0 0 10px #00ff88;
margin-bottom:5px;
}

.subtitle{
text-align:center;
color:#aaa;
margin-bottom:20px;
}

textarea{
width:100%;
height:250px;
background:#0d1117;
color:#00ff88;
border:2px solid #00ff88;
border-radius:15px;
padding:15px;
font-size:16px;
resize:none;
outline:none;
margin-bottom:15px;
}

.buttons{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-bottom:20px;
}

button{
padding:14px;
border:none;
border-radius:12px;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.03);
}

#copyBtn{
background:#00ff88;
color:#000;
}

#clearBtn{
background:#ff3b3b;
color:#fff;
}

#importBtn{
background:#0099ff;
color:#fff;
}

#exportBtn{
background:#ff9800;
color:#fff;
}

.counter{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
margin-bottom:20px;
}

.card{
background:#0d1117;
border:2px solid #00ff88;
border-radius:15px;
padding:15px;
text-align:center;
}

.card span{
display:block;
font-size:28px;
font-weight:bold;
color:#00ff88;
}

.card small{
color:#bbb;
}

h2{
margin:15px 0 10px;
color:#00ff88;
}

input[type=text]{
width:100%;
padding:12px;
background:#0d1117;
border:2px solid #00ff88;
border-radius:12px;
color:#fff;
outline:none;
margin-bottom:10px;
}

#countryBtn,
#clearHistory{
width:100%;
background:#00ff88;
color:#000;
margin-bottom:10px;
}

#countryResult{
background:#0d1117;
padding:12px;
border-radius:12px;
border:2px solid #00ff88;
text-align:center;
color:#00ff88;
font-size:20px;
margin-bottom:20px;
}

#history{
height:180px;
overflow:auto;
background:#0d1117;
border:2px solid #00ff88;
border-radius:15px;
padding:10px;
color:#00ff88;
}

#history div{
padding:8px;
border-bottom:1px solid #333;
}
